@page
@model MyApp.Namespace.OutputPageModel
@{
}
<form method="post">
   <input asp-for="Output18" id="checkbox_output18" />
    <button id="submit_button">Click</button>
</form>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>