@page
@model MyApp.Namespace.OutputPageModel
@{
}

<form method="post">
    <input id="checkbox_output18" asp-for="Output18" />
    <button id="submit_button" type="submit">Submit</button>
</form>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/outputpage.js"></script>